/* BASE STYLES */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bg-primary-color: #f5f5f5;
  --secundary-color: #a9a9a9;
  --third-color: #ff5722;
  --text-color: #1c1c1c;
  --header-height: 80px;
  --primary--font: "Poppins", sans-serif;
}

body {
  background-color: var(--bg-primary-color);
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: var(--text-color);
  font-family: var(--primary--font);
  transition: color 0.3s ease;
}

/* HEADER STYLES */

.main-header {
  height: var(--header-height);
  background-color: var(--bg-primary-color);
}

.menu-nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  padding: 0 15px;
}

.logo-icon {
  height: 85px;
  width: 120px;
}

.menu-toggle {
  background: none;
  border: none;
  font-size: 30px;
  cursor: pointer;
  color: var(--text-color);
}

.nav-list {
  display: none;
}

.contact-item {
  background-color: var(--third-color);
  padding: 8px 25px;
  border-radius: 60px;
}

.contact-item a {
  color: var(--bg-primary-color);
  font-weight: 600;
}

.nav-list a:not(.cta-link):hover {
  color: var(--third-color);
}

/* FOOTER STYLES */
footer {
  background-color: #f5f5f5;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  align-items: center;
}

.container-left {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  gap: 0.25rem;
}
.container-mid {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  gap: 0.25rem;
  padding-bottom: 1rem;
}
.container-right {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  gap: 0.25rem;
}

.container-icon {
  display: flex;
  flex-flow: row nowrap;
  gap: 0.5rem;
}

.text-icon {
  display: flex;
  justify-items: center;
  gap: 0.5rem;
}
.icon-midia {
  width: 24px;
  height: 24px;
}


/* HERO SECTION STYLES */
.hero-section {
  position: relative;
  width: 100%;
  height: 100vh;
  background: url("../img/hero-image.png") center/cover no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}

.overlay-dark {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.562);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
}

.hero-title {
  font-size: 5rem;
  font-family: "Poppins", sans-serif;
  margin-bottom: 1rem;
}

.hero-subtitle {
  font-family: "Lora", serif;
  font-size: 2.5rem;
  margin-bottom: 2rem;
  max-width: 600px;
}

.cta-button {
  background-color: var(--third-color, #ff5722);
  color: white;
  height: 5rem;
  text-decoration: none;
  padding: 12px 24px;
  border-radius: 60px;
  font-weight: 600;
  transition: 0.3s;
  margin-top: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
}

.cta-button:hover {
  background-color: var(--third-color);
  transform: scale(1.05);
}

.decoration-text {
  color: #e64a19;
}

/* MEDIA QUERY: ACIMA DE 768px (DESKTOP) */
/* HEADER STYLES DESKTOP */
@media (min-width: 768px) {
  .menu-nav {
    padding: 0 30px;
  }

  .nav-list {
    display: flex;
    list-style-type: none;
    align-items: center;
    gap: 1.5rem;
  }
  .menu-toggle {
    display: none;
  }
}

@media (max-width: 768px) {
  .overlay-dark {
    background-color: rgba(0, 0, 0, 0.5);
    width: 100vw;
    height: 100vh;
  }
  .hero-section {
    display: flex;
    justify-content: flex-start;
    padding-top: 2rem;
  }
  .hero-title {
    font-size: 50px;
    letter-spacing: -0.1rem;
    max-width: 400px;
    line-height: 3.75rem;
    text-align: center;
    font-weight: 800;
  }
  .hero-subtitle {
    font-size: 35px;
    letter-spacing: -0.1rem;
    max-width: 350px;
    line-height: 2.5rem;
    padding-top: 2rem;
    font-weight: 400;
  }

  .cta-button {
    font-size: 1.35rem;
    width: 90%;
    max-width: 320px;
    letter-spacing: -0.1rem;
    line-height: 2.5rem;
    font-weight: 600;
  }

  /* BUTTON STYLES MOBILE */
  .container-button {
    flex-flow: column nowrap !important;
    gap: 1.5rem;
    width: 100%;
  }

  .container-primary-button,
  .container-secundary-button ,
  .container-ghost-button {
    width: 100%;
    flex: none !important;
    display: block;
  }


  .primary-button,
  .secundary-button,
  .ghost-button {
    display: block !important;
    margin: 0 auto;
    width: 90%;
    max-width: 320px;
    transform: none !important;
    text-align: center;
  }

  /* FOOTER STYLES MOBILE */
  footer {
    display: flex;
    justify-content: space-around;
    
  }
  .container-left {
    display: none;
  }
  .container-mid p {
    display: none;
  }
  .container-right .text-icon {
    display: none;
  }
  .container-right {
    display: flex;
    flex-flow: row nowrap;
    gap: 2rem;
  }
}

/* BUTTON SECTION STYLES */
.button-section {
  display: flex;
  flex-flow: column nowrap;
  min-height: 40vh;
  background-color: #f5f5f5;
  text-align: center;
  justify-content: center;
  gap: 2rem;
}
.container-button {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.section-title {
  font-family: var(--primary--font);
  font-size: 2rem;
  font-weight: 600;
  color: var(--text-color);
  margin: 1rem 0;
}

.container-primary-button {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-secundary-button {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-ghost-button {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.primary-button {
  background-color: var(--third-color);
  color: #ffffff;
  padding: 15px 40px;
  border-radius: 60px;
  font-size: 1.2rem;
  font-weight: 600;
  transition: background-color 0.3s ease;
}

.primary-button:hover {
  background-color: #e64a19;
  transform: scale(1.05);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.primary-button:active {
  background-color: #bf360c;
  transform: translateY(0.5rem);
}

.primary-button:focus {
  border: 2px solid #222222;
  background-color: #e64a19;
  transform: scale(1.05);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.secundary-button {
  background-color: #ffffff;
  color: #222222;
  padding: 15px 40px;
  border-radius: 60px;
  border: 1px solid var(--third-color);
  font-size: 0.8rem;
  font-weight: 400;
  transition: background-color 0.3s ease;
}

.secundary-button:hover {
  background-color: var(--third-color);
  color: #ffffff;
  transform: scale(1.05);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.secundary-button:active {
  background-color: #bf360c;
  transform: translateY(0.5rem);
}

.secundary-button:focus {
  border: 2px solid #222222;
  background-color: var(--third-color);
  color: #ffffff;
  transform: scale(1.05);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.ghost-button {
  background-color: transparent;
  color: #222222;
  padding: 15px 40px;
  border-radius: 60px;
  font-size: 0.8rem;
  font-weight: 300;
  transition: background-color 0.3s ease;
}

.ghost-button:hover {
  text-decoration: underline;
  transform: scale(1.15);
  text-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.ghost-button:active {
  transform: translateY(0.5rem);
}

.ghost-button:focus {
  border: 2px solid #222222;
  transform: scale(1.15);
  text-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  background-color: #a9a9a9;
}
